.dmg-read-more-search-button {
	margin-bottom: 16px;
}

.dmg-read-more-pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	margin-top: 16px;
}

.dmg-read-more-text-muted {
	color: #646970;
}
