/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.dmg-read-more {
	font-weight: 500;
}

.dmg-read-more-search-button {
	margin-top: 12px !important;
	margin-bottom: 16px !important;
}

.dmg-read-more-results-container {
	margin-top: 20px;
}

.dmg-read-more-search-results {
	margin-top: 10px;
	max-height: 400px;
	overflow-y: auto;
}

.dmg-read-more-selected {
	display: inline-block;
	margin-top: 6px;
	color: #007cba;
	font-weight: 500;
	font-style: italic;
}
