.wp-block-dmg-read-more {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.dmg-read-more {
	margin: 1.5rem 0;
	font-size: 1.1rem;
	font-weight: 500;

	a {
		text-decoration: underline;
		font-weight: 600;

		&:hover {
			text-decoration: none;
		}
	}
}
